*{
    margin: .5rem;
    border: 1px solid purple;
    padding: .5rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    padding: .5rem;
}

body {
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 1024px;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
}

.projects {
    
}