*{
    margin: .5rem;
    border: 1px solid purple;
    padding: .5rem;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 1024px;
}